.advantages-client,
.advantages-busines{
 width: 100vw;
 margin: 0 auto;
}

.display-none{
  display: none;
}

.advantages-title {
  padding: 0;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 66px;
  font-weight: 200;
  text-align: center;

  h2{
    padding: 0;
  }
}

.buttons-container{
  padding-top: 50px;
  padding-bottom: 50px;
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  button {
    width: 350px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 300;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;

    &:hover{
      border: 2px solid white;
      background-color: rgba(0,0,0, 0.3);
      color: #f5f5f5;
    }
  }

  .button-active{
    border: 2px solid white;
      background-color: rgba(0,0,0, 0.3);
      color: #f5f5f5;
  }
}


.advantages-list {
  max-width: 1100px;
  padding-bottom: 50px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 33px;
}

.advantages-item {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 8px 12px 15px #28282bf2;
  border: 2px solid white;

  h4 {
    padding-top: 10px;
    margin-bottom: auto;
    font-size: 21px;
    font-weight: 300;
    letter-spacing: 0.1px;
  }

  p {
    margin-bottom: auto;
    font-size: 16px;
    color: black;
    align-self: end;
  }
}