.team-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-left: 40px;
  padding-right: 40px;
}

.slider {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 350px;
  perspective: 1000px;
}

//==========================================CARD ITEM =====================================
.cards .item {
  width: 200px;
  height: 400px;
  margin: 15px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  user-select: none;
  cursor: pointer;
  transition: transform 0.5s, z-index 0.5s;
  position: relative;

  &::after{
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-image: url(../../../SVG/touch.svg);
  }
}

.cards .item.active {
  transform: translate(-2.5%, -2.5%) translateZ(50px) scale(1.1);
  z-index: 2;
}

.cards .item:not(.active) {
  transform: translate(-2.5%, -2.5%) translateZ(0) scale(0.95);
  z-index: 1;

}

//==============================================FLIP CARD =========================================

.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: cover;
  color: black;
  position: absolute;
  backface-visibility: hidden;
  border: 3px solid white;
}

.display-none{
  display: none;
}

.flip-card-front {
  color: white;
  background-color: black;


  .front-title{
    position: absolute;
    top: 50px;
    left: 25px;
  }

  .front-gif{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.flip-card-back {
  transform: rotateY(180deg);
}

//====================================================CONTENT CARD================================
.item .main__content {
  width: 100%;
}

.main__content .img {
  width: 175px;
  height: 175px;
  margin: auto;
  background: white;
  padding: 3px;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__content .img img {
  width: 150px;
  height: 150px;
}

.content h2 {
  font-size: 18px;
}

.content p {
  font-size: 16px;
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social .social-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.dots label {
  height: 15px;
  width: 15px;
  margin: 7px;
  border-radius: 50%;
  background-color: #21262d;
  cursor: pointer;
  transition-duration: 0.2s;
}

.dots .active {
  transform: scale(1.5);
  background-color: #fff;
  box-shadow: 0px 0px 0px 3px #342f2fe6;
}


