.sponsors {
  width: 100vw;
  background: rgba(102, 103, 171, 1);
  padding-bottom: 100px;

  h2 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

    span {
      font-size: 85px;
      text-align: center;
      font-weight: 200;
      color: white;
    }
  }

  .logos-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
  }

  .logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
    // padding: 33px 0;
    // white-space: nowrap;
    // display: inline-block;
    // position: relative;
    // background-color: white;
  }
  
  .logos::before{
    width: 250px;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) , white);
    z-index: 2;
  }

  .logos::after{
    width: 250px;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    right: 0px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) , white);
    z-index: 2;
  }

  .logos-slide {
    display: inline-block;
    animation: 33s slide infinite linear;

    img{
      margin: 0 40px;
    }
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }
}