.technology-wrapper {
  height: auto;
  width: 100vw;
  margin: 0 auto;
  // background: rgba(40, 40, 43, 0.95);
 

  h2 {
    margin-bottom: -50px;
    text-align: center;
    span{
    font-size: 93px;
    text-align: center;
    font-weight: 200;
    color:  rgba(40, 40, 43, 0.95);
  }
  }

}
  
  