*{
  font-family: sans-serif;
  box-sizing: border-box;
}

html{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  position: relative;
}

main{
  min-height: 100vh;
  position: relative;
}
a{
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

//-----------------------------------------------------ПЕРЕМЕННЫЕ--------------------------------------
:root{
--color-black: black;
--color-white: white;
}